# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/web//node_modules

# next.js
/web/.next/
/web/out/

# production
/web/build

# env files (can opt-in for commiting if needed)
/web.env*

# vercel
/web.vercel
